

# dependencies
client/node_modules
server/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.env
client/.env.production
server/.env
server/.env.production
server/ec2-key.pem

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*
